[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
instagram-private-api = {editable = true, ref = "1.6.0", git = "https://git@github.com/ping/instagram_private_api.git"}
fastapi = "==0.65.2"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
